body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    box-sizing: border-box;
}

.hidden{
    opacity: 0;
    filter: blur(25px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background: black;
    color: #efeff7;
    padding: 4px 4px;
    text-align: center;
}

.logo{
    width: 100%px;
    height: 190px;
}

.rede-sociais{
   display: flex;
   align-items: center;
}

.whatzapp{
  position: fixed;
  width: 40px;
  margin: 60px 0 0 20px;
  mix-blend-mode: multiply;
  cursor: pointer;
}

.facebook{
    position: fixed;
    width: 60px;
    margin: 60px 0 0 70px;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.instagram{
    position: fixed;
    width: 55px;
    margin: 60px 0 0 135px;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.instagram:hover{
    width: 70px;
}

.facebook:hover{
    width: 80px;
}

.whatzapp:hover{
    width: 70px;
}
 
.expor-instalacao{
    max-width: 100%;
    border-radius: 10px;
}

.expor-residencial{
    max-width: 100%;
    border-radius: 10px;
}

.expor-projetos{
    max-width: 100%;
    border-radius: 10px;
}

.expor-solar{
    max-width: 100%;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

#videos{
    display: flex;
    position: absolute;
    margin: -870px 0 0 800px;
    width: 30vw;
}

.video-jp{
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000508, rgb(221, 145, 5));
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.section {
    padding: 2rem;
    text-align: center;   
}

.section h2 {
    margin: 100px 0 20 -10
}

p {
    font-size: 15px;
}

#services{
    text-align: center;
    padding: 5px;
    width: 50%;   
}

#services-container {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap; 
    justify-content: start;
}

#box {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 1rem;
    width: 1 fr;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    font-size: 20px;
}

#map{
    width: 550px;
    height: 500px;
}

.logo-fisica{
    width: 550px;
    height: 250px;
}

#loja-fisica{
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 50px;    
    background: linear-gradient(to right, #4f5d66, rgb(221, 145, 5));
}

#sobre {
    background: linear-gradient(to right, #000508, rgb(221, 145, 5));
    padding: 2rem;
    text-align: center;
    color: white
}

.service h3 {
    color: #333;
}

.section h2{
    font-size: 30px;
    font-weight: 700;
}

#eletricista{
    display: flex;
    width: 150px;
    position: absolute;
    margin: 30px 0 0 30px;
    mix-blend-mode: multiply;
}

#video-footer{
    display: flex;
    width: 180px;
    position: absolute;
    margin: 20px 0 0 1050px;
    mix-blend-mode: multiply;
}

#contact{
    padding: 2rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 4px 4px;
    background: linear-gradient(to right, #000508, rgb(221, 145, 5));
    color: white;
    position: relative;
    width: 100%;
}

 footer a{
    color: white;
 }

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 30px;
}

form button {
    background: linear-gradient(to right, #000508, rgb(221, 145, 5));
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px
}

form button:hover {
    background: linear-gradient(to right, #020468, #6e7002);
}

@media (max-width: 1280px){
    #videos{
        margin-left: 700px
    }
    #loja-fisica{
        padding-left: 5px;
    }
    #video-footer{
        margin-left: 1000px;
    }
}

@media (max-width: 1100px) {
    .service{
        width: 25vh;
        margin: 10px;
    }
    #videos{
        margin: -820px 0 0 530px;
    }
    .video-jp{
        width: 450px;
    }
    p{
        font-size: 15px;
    }
    #loja-fisica{
        display: grid;
        grid-template-columns: 500px 500px;
        gap: 20px;
    }
    #map{
        width: 450px;
        height: 500px;
    }
    .logo-fisica{
        width: 450px;
        height: 250px;
    }
    #eletricista{
        margin-left: -20px;
    }
    #video-footer{
        width: 160px;
        margin: 100px 0 0 800px;
    }
}

@media(max-width: 920px){
    h3{
        font-size: 20px;
    }
    #services{
        margin-top: 30px;
    }
    #videos{
        margin: -780px 0 0 470px;
    }
    .video-jp{
        width: 420px;
    }
    #loja-fisica{
        display: grid;
        grid-template-columns: 450px 450px;
        gap: 10px;
    }
    #map{
        width: 400px;
        height: 500px;
    }
    .logo-fisica{
        width: 400px;
        height: 250px;
    }
    #eletricista{
        width: 100px;
    }
    #video-footer{
        width: 100px;
        margin-left: 750px;
    }
}

@media (max-width: 860px){
    #videos{
        margin-left: 430px;
    }
    .video-jp{
        width: 370px;
    }
    #loja-fisica{
        grid-template-columns: 410px 410px;
        gap: 2px;
    }
    #map{
        width: 360px; 
    }
    .logo-fisica{
        width: 360px;
    }
}

@media (max-width: 820px){
    #videos{
        margin: -800px 0 0 410px;
    }
    .video-jp{
        width: 380px;
    }
    #loja-fisica{
        display: grid;
        grid-template-columns: 400px 400px;
        gap: 5px;
    }
    #map{
        width: 350px;
        height: 500px;
    }
    .logo-fisica{
        width: 350px;
        height: 250px;
    }
    .sobre{
        margin-bottom: 50px;
    }
    #eletricista{
        display: none;
    }
    #video-footer{
        display: none;
    }
}

@media (max-width: 770px){
    #services{
        width: 100vw;
    }
    #videos{
        display: flex;
        position: absolute;
        margin: 80px 0 0 400px;   
    }
    .video-jp{
        width: 350px;
    }
    #loja-fisica{
        display: grid;
        grid-template-columns: 400px;
        gap: 5px;
    }
    #map{
        width: 350px;
        height: 300px;
    }
    .logo-fisica{
        width: 350px;
        height: 150px;
    }
    .sobre{
        margin-bottom: 50px;
    }
    footer{
        line-height: 10px;
    }
}

@media (max-width: 550px){
    #videos{
        margin-left: 265px;
    }
   .video-jp{
    width: 250px;
    margin:80px 0 0 10px;
   }
   #box {
    line-height: 15px;
    font-size: 10px;
    padding: 1px;
   }
    #loja-fisica{
        grid-template-columns: 270px;
        justify-content: start;
    }
    .logo-fisica{
        width: 230;
        height: 150px;
    }
    #map{
        width:230px;
    }
}

@media (max-width: 450px){
    #services-container {
        grid-template-columns: auto;
    }
    #loja-fisica{
        grid-template-columns: 410px;
        margin-bottom: 400px
    }
    #videos{
        margin: 660px 0 0 100px;
    }
    .video-jp{
        width: 210px;
    }
    .logo-fisica{
        width: 370; 
    }
    #map{
        width: 370px;
    }
    footer{
        line-height: 10px;
    }
}

@media (max-width: 420px){
    #loja-fisica{
        grid-template-columns: auto;
        flex-wrap: wrap; 
        justify-content: start;
        gap: 0;
        margin-bottom: 400px;
    }
    .logo-fisica{
        width: 360;  
    }
    #map{
        width:360px;
    }
    #videos{
        margin: 653px 0 0 100px
    }
    .video-jp{
        width: 220px;
        z-index: -1;
    }
    footer{
        line-height: 10px;
    }
}

@media (max-width: 390px){
    #loja-fisica{
        grid-template-columns: 380px;
    }
    .logo-fisica{
        width: 340;  
    }
    #map{
        width:340px;
    }
}

@media (max-width: 375px){
   #videos{
    margin-left: 65px;
   }
}

@media (max-width: 362px){
    #loja-fisica{
        grid-template-columns: 355px;
    }
    .logo-fisica{
        width: 315px;   
    }
    #map{
        width: 315px;
    }
    #videos{
        margin-left: 60px;
    }
}

@media (max-width: 350px){
    #loja-fisica{
        grid-template-columns: 350px;
    }
}